.blog-post-body {
  max-height: 10em;
  overflow: hidden;
}

.read-more {
  @extend .text-center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), white);
  //margin-top: -3em;
  padding-top: 3em;
  transform: translateY(-3em);
  //opacity: .99;
}

.active {
  .blog-post-body {
    max-height: 100%;
  }
  .read-more {
    display: none;
  }
}
