$terminal-color: #00ff00;

.jumbotron.home {
  @extend .text-center;
  background: #000 url('/assets/images/gauss-crack.png') center center fixed;
  background-size: cover;
  height: calc(100% - 54px);
  padding-top: 10%;
  margin-bottom: 0;

  h1 {
    display: inline-block;
    // border-radius: 50px;
    padding: 10px;
    color: $terminal-color;
    background-color: #000;
    box-shadow: 0 0 20px #fff;
  }
}

.blinking-cursor {
  color: $terminal-color;
  animation: 1.2s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $terminal-color;
  }
}
